.admin-layout {
    display: flex;
    min-height: 100vh;
}

.admin-main-content {
    flex-grow: 1;
    margin-left: 20%;
    padding: 20px;
    background-color: #f0f2f5;
    overflow-y: auto;
}

@media (max-width: 768px) {

    .admin-main-content {
        flex-grow: 1;
        margin-left:6%;
        padding: 20px;
        background-color: #f0f2f5;
        overflow-y: auto;
    }

}
