.searchBar_container{
  width: 95vw;
}
.searchBar_container .btn{
  padding: 0 10px;
}
.searchBar_container .btn-primary{
  padding: 10px 15px;
}
.searchBar_container form{
  width: 90%;
  margin: auto;
}
.searchBar_container input{
  outline: none;
  border: 1px solid #35B6FF;
  border-radius: 8px;
  font-size: 17px;
  background: #fff;
  padding: 10px 5px;
  transition: all 0.2s ease-in-out;
}
.searchBar_container input:focus{
  box-shadow: 2px 5px 20px rgba(0,0,0,0.5);
  outline-color: #35B6FF;
}
.searchBar_container input[type="text"]{
  width: 250px;
}
.searchBar_container .btn-primary,.searchBar_container .btn-primary:focus{
  background-color: #35B6FF;
  border-color: #35B6FF;
}

