.loginDiv_container {
  background-color:#ECF0F1;
    
}

.loginDiv {
  width: 75vw;
}
.loginDiv_google{
  border: 1px solid rgba(228, 139, 143, 0.411);
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 20px;
}
.loginDiv form .btn{
  background-color: rgba(182, 145, 147, 1);
  width: 100%;
  color: #fff;
  border-radius: 15px;
}
.loginDiv form .btn:hover{
  background-color: rgba(182, 145, 147, 0.829);
  color: #fff;
}
.loginForm h3{
  font-size: 22px;
}
.loginForm form{
  margin-left: 0;
  margin-top: 20px;
}
.btn-resgister{
  border: 1px solid rgba(182, 145, 147, 0.829);
}